/* Write your CSS here */
.text {
  color: #252627;
  font-family: 'roboto';
  font-weight: bold;
}
.image {
  width: 300px;
  height: 300px;
  border-width: 40px;
}
.list-container {
  list-style-type: none;
  max-width: 300px;
}
